<p>
<br>

		<hr>
	    <h1>your name is {{user_name}}</h1><br>
	    <h3>this expense is {{expense_value}}</h3><br>
	    <h3>this expense was for{{expense_category}}</h3>
	   	<h1>your name is {{user_name}}</h1><br>
	    <h3>this expense is {{expense_value}}</h3><br>
	    <h3>this expense was for{{expense_category}}</h3>
	    <hr>
	    

<br>
</p>